"*":
  "autocomplete-python":
    useKite: false
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "symbols-view"
      "japanese-wrap"
      "tree-view"
      "markdown-preview"
      "split-diff"
      "atom-runner"
      "linter-jshint"
      "linter-solidity"
      "build"
      "build-cargo"
      "autocomplete-python"
      "gist-it"
      "busy-signal"
      "hyperclick"
      "intentions"
      "linter-clang"
      "node_modules"
      "atom-language-rust"
      "linter-rust"
      "spell-check"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 15
    invisibles: {}
    lineHeight: 1.4
    showInvisibles: true
  "exception-reporting":
    userId: "0f9e3be4-46f8-4118-95d6-644d4e6785d9"
  "file-types":
    fish: "source.shell"
  gist:
    token: "aaaf63dd0d9448fa06a4ef819186b71f904a3e68"
  "gist-it":
    newGistsDefaultToPrivate: true
    userToken: "f0dab67de513c6dfe072b8d2054c7e77a07abf3a"
  "go-debug":
    dlvPath: "/Users/respepic/.go/bin/dlv"
    panelInitialVisible: true
  "go-plus":
    config:
      gopath: "/Users/respepic/.go"
    disabledBundledPackages: [
      "go-debug"
    ]
    navigator: {}
    panel:
      currentHeight: "18.80597014925373vh"
      currentWidth: "32.083333333333336vw"
      fontSize: "1.0em"
  "linter-ui-default":
    panelHeight: 300
  racer:
    rustSrcPath: "/Users/respepic/.cargo/registry/src/github.com-1ecc6299db9ec823/"
  "save-session":
    dataSaveFolder: "/Users/respepic/.atom/packages/save-session/projects"
  "switch-header-source":
    newTabPending: true
    samePane: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnlyLines: true
".go.source":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 7
