"*":
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
        ".hgrc"
      ]
      "source.json": [
        "BUCK.autodeps"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "symbols-view"
      "japanese-wrap"
      "tree-view"
      "markdown-preview"
      "split-diff"
      "gist"
      "atom-runner"
    ]
    telemetryConsent: "no"
  editor:
    fontSize: 12
    invisibles: {}
    lineHeight: 1.4
    showInvisibles: true
  "exception-reporting":
    userId: "0f9e3be4-46f8-4118-95d6-644d4e6785d9"
  "file-types":
    fish: "source.shell"
  gist:
    token: "aaaf63dd0d9448fa06a4ef819186b71f904a3e68"
  "gist-it":
    newGistsDefaultToPrivate: true
    userToken: "f0dab67de513c6dfe072b8d2054c7e77a07abf3a"
  "go-debug":
    dlvPath: "/usr/local/Cellar/delve/0.12.2/bin/dlv"
    panelInitialVisible: true
  "go-plus":
    config:
      gopath: "/Users/respepic/.go"
    disabledBundledPackages: [
      "go-debug"
    ]
    panel:
      currentHeight: "18.80597014925373vh"
      currentWidth: "32.083333333333336vw"
      fontSize: "1.0em"
  "linter-ui-default":
    panelHeight: 300
  "save-session":
    dataSaveFolder: "/Users/respepic/.atom/packages/save-session/projects"
  "switch-header-source":
    newTabPending: true
    samePane: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
    ignoreWhitespaceOnlyLines: true
".go.source":
  editor:
    softWrap: false
    softWrapAtPreferredLineLength: true
    softWrapHangingIndent: 7
